---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";

interface Props {
  name: string;
  repo?: string;
  externalLink?: string;
  date: string;
  desc: string;
  tags: string[];
  img: string;
}

const { name, repo, externalLink, date, desc, tags, img } = Astro.props;
---

<div class="my-8">
  <div class="flex gap-x-3">
    <h1 class="text-2xl font-bold">{name}</h1>
    <p class="mt-2 text-sm font-bold text-lavender">{date}</p>
  </div>
  <div class="py-1"></div>
  <div class="flex gap-x-1">
    {
      tags.map((t) => (
        <div class="w-fit rounded-xl bg-surface2 px-2 text-sm">{t}</div>
      ))
    }
  </div>
  <div class="py-1"></div>
  <p class="font-bold text-teal">{desc}</p>
  <div class="flex gap-x-2">
    {
      repo && (
        <a
          href={repo}
          class="cursor-pointer transition duration-300 hover:text-lavender"
        >
          <Icon name="github" class="mt-1" size={20} />
        </a>
      )
    }
    {
      externalLink && (
        <a
          href={externalLink}
          class="cursor-pointer transition duration-300 hover:text-lavender"
        >
          <Icon name="externallink" class="mt-1" size={20} />
        </a>
      )
    }
  </div>

  <div class="mt-2 flex flex-col gap-x-8 gap-y-4 md:mt-4 md:flex-row">
    <div class="max-w-lg">
      <slot />
    </div>
    <img src={img} width={144} height={144} class="bg-overlay0" />
  </div>
</div>
